@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <div class="panel-button-container container">
        <a href="/Admin/Reviews" style="margin-left:30px;margin-right:30px;width:120px;" class="btn btn-primary btn-lg">Reviews</a>
        <a href="/Admin/Projects" style="margin-left:30px;margin-right:30px;width:120px;" class="btn btn-primary btn-lg">Projects</a>
        <a href="/Admin/Skills" style="margin-left:30px;margin-right:30px;width:120px;" class="btn btn-primary btn-lg">Skills</a>
    </div>

</div>

