@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model MyPortfolio.Models.ProjectListManager

<div>
    <div class="admin-projects-inner-container">
        <div style="width:100%; margin-bottom:100px;">
            <button class="btn btn-primary">Add New Project</button>
        </div>
        @foreach (var project in Model.Projects)
        {
            <div class="admin-project-containter">
                <h2>@project.Name</h2>
                <hr />
                <p>@project.Description</p>
                <img style="width:150px;height:100px;" src="@project.ImageUrl" />
                <div style="margin-top:40px;">
                    <button style="margin-right:30px;" class="btn btn-secondary">Delete</button>
                    <button class="btn btn-success">Edit</button>
                </div>
            </div>
        }
    </div>
</div>

