@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <div class="skills-inner-container">
        <table>
            <caption>Languages</caption>
            @foreach(var lng in ViewBag.languages)
            {
                <tr>
                    <td><p>@lng</p></td>
                    <td style="text-align:center;"><button class="btn btn-danger btn-sm">Delete</button></td>
                </tr>
            }
        </table>
        <div style="width:100%;text-align:right;margin-top:20px;">
            <button class="btn btn-success">Add New</button>
        </div>

        <table>
            <caption>Technologies</caption>
            @foreach (var tech in ViewBag.technologies)
            {
                <tr>
                    <td><p>@tech</p></td>
                    <td style="text-align:center;"><button class="btn btn-danger btn-sm">Delete</button></td>
                </tr>
            }
        </table>
        <div style="width:100%;text-align:right;margin-top:20px;">
            <button class="btn btn-success">Add New</button>
        </div>

    </div>

</div>

