@{
    ViewBag.Title = "About Me";
}

<div class=" container body-inner-content">
    <img class="profile-photo" src="~/Content/Images/profile_photo.png" />
    <h4>My name is Iskander Samatov and I'm a Software Developer and Designer that specializes on building mobile and web applications.</h4>

    <div class="red-header-parent"><h3 class="content-header-red"><strong>Personal Skills:</strong></h3></div>
    <img class="icon-centered" src="~/Content/Images/communication_icon.png" />
    <h4><strong>Communication</strong></h4>
    <p style="margin-top:10px">I understand the importance of good communication. All of your inquiries are answered within a day. I strive to communicate clearly and efficiently with less technical terms when possible.</p>
    <img class="icon-centered" src="~/Content/Images/team_icon.png" />
    <h4><strong>Working in a team</strong></h4>
    <p style="margin-top:10px">I play well with others. I'm happy to integrate into your existing team to help get your project implemented.</p>
    <img class="icon-centered" src="~/Content/Images/time_icon.png" />
    <h4><strong>Time Management</strong></h4>
    <p style="margin-top:10px">I value people's time and always aim to work efficiently. Meeting the deadlines is my priority.</p>

    <div class="red-header-parent"><h3 class="content-header-red"><strong>Technical Skills:</strong></h3></div>
    <h4 class="content-header-green">Programming Languages</h4>
    <div class="tag-container">
        @foreach (var language in ViewBag.languages)
        {
            <div class="tag"><h5><strong>&bull; @language</strong></h5></div>
        }
    </div>

    <h4 class="content-header-green">Technologies</h4>
    <div class="tag-container">
        @foreach (var technology in ViewBag.technologies)
        {
            <div class="tag"><h5><strong>&bull; @technology</strong></h5></div>
        }
    </div>

    <div style="margin-top:180px; margin-bottom:70px;">
        <a class="btn btn-primary btn-lg">View Reviews</a>
    </div>
</div>
