<div class="social-container">
    <h1 class="content-header-red">@ViewBag.Title</h1>
    <div class="inner-social-container container">
        <div class="social-icon-container">
            <p>Check out my LinkedIn <br /> profile</p>
            <a href="https://www.linkedin.com/in/iskander-samatov-026029107" target="_blank"><img class="social-icon" src="~/Content/Images/linkedin_icon.png" /></a>
        </div>
        <div class="social-icon-container">
            <p>Check out my Github <br/> repositories</p>
            <a href="https://github.com/iskenxan" target="_blank"><img class="social-icon" src="~/Content/Images/github_icon.png" /></a> 
        </div>
        <div class="social-icon-container"> 
            <p>Email me at iskenxan11@gmail.com</p>
            <a href="mailto:iskenxan11@gmail.com" target="_blank"><img style="height:35px; margin-top:10px;" class="social-icon" src="~/Content/Images/email_icon.png" /></a>
        </div>
    </div>
</div>

