body {
}

#loginForm{
    text-align:left;
    display:inline-block;
    min-width:550px;
}

.login-outter-container{
    text-align:center;
}

.login-inner-container{
    display:inline-block;
    max-width:550px;
}

.admin-header{
    background: url("Images/admin_header_bg.png") no-repeat center center;
    width:100%;
    min-height:100px;
    text-align:center;
    background-size:100%;
    padding-top:20px;
}

.admin-root{
    background:#f1f1f1;
    padding-bottom:50px;
    min-height:100%;
}

.admin-header h1{
    color:white;
}

.body-inner-container{
    min-height:250px;
    box-shadow: -1px 1px 2px #dcdcdc;
    margin-top:50px;
}

.panel-button-container{
    max-width:600px;
    text-align:center;
    margin:0 auto;
    padding-top:60px;
}

.reviews-inner-container{
    margin-top:50px;
}

.review-container{
    margin-bottom:150px;
}

.reviews-inner-container p{
    margin-top:30px;
}

a.btn-primary{
    color:#fac414;
}




